//VARIABLES
$headline: 'Freckle Face', sans-serif;
$bodytext: Verdana, sans-serif;
$bColorHFN: #7bb8a5; //header,footer,navigation abckground color
$bBody: #42413C;     //background color for body and horiz separator
$bg: background;

@import "_reset.scss"; //partials

body {
	#{$bg}-color: $bBody;
    font: 14px/1.4 $bodytext;
    color: #333;
}
img {
    width: 100%;
    height:auto;
}
h1, h2 {
font-family: $headline;
}
h1, h2,  p {
	padding-right: 15px;
	padding-left: 15px;
}
p {
	padding-bottom:10px;
}
a {
	color: #333;
	text-decoration: none;

	&:hover { color: #666; }
}
#wrapper {
    max-width: 960px;
   	margin: 0 auto;
}
header > div {
		width: 96%;
		margin: auto;
		display: flex;
		justify-content: space-between;
}
header.topBar {
    position: relative; /* need for hamburger */
    width: 100%;
    height: 3em;
    line-height: 3em; /* to vertically center text */
    border-bottom: solid 1px $bBody;

    img {
		width: 15%;
		height: 3em;
		float: left;
    }
}
header, footer {
	#{$bg}-color: $bColorHFN;
}
header h1 {
	margin: 0;
	font-size: 62px;
    text-align: center; /* 1 column */
}
/* Navigation - Hamburger menu for mobile */
nav.mainNav {
	#{$bg}-color: #ededed;
    ul { list-style-type: none; }
    li { border-bottom: solid 1px $bBody;
       a {
         display: block;
         padding: 0 .4em;
       }
	}
}
#navigation nav {
    height: 0;
    overflow: hidden;
}
.active {
	#{$bg}-color: #9ed3c2;
}
   /* fixing problems on some browsers - tricking */
body {
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from { padding: 0;}
    to { padding: 0;}
}
#navigation {

    label {
		display: block;
		#{$bg}: url("../images/nav-icon.png") no-repeat right center;
		position: relative;
		/*top: -10px; */    /* HAMBURGER ICON POSITION */
		right: 10px;
		text-indent: -999em;
		cursor: pointer;
		user-select: none;
    }
	input[type=checkbox] {
		position: absolute;
		top: -999em;
		left: -999em;  /* hide checkbox out of screen */

        &:checked ~ nav {
			height: auto;
			overflow: hidden;
		}
	}
}
/* End of Navigation */
figcaption {
    font-style: italic;
    font-size: 10px;
    color: #666;
    text-align: center; /* 1 column */
}
article {
	#{$bg}-color: #FFFFFF;

    h1 { font-size: 36px; }

    h2 {
	   font-size: 24px;
	   margin-bottom: 0;
	   color: #3B8686;
    }
}
aside {
	background-color: #3B8686;
	color: #fff;
	padding: 10px 0;

    h1 {
	font-size: 24px;
	border-bottom: solid 2px #fff;
	}
}
footer {
	text-align: center;
	height: 3em;
    line-height: 3em;
}
@media screen and (min-width: 650px) {

    main#flexBox {
        display: flex;
        box-sizing: border-box;
    }

    #flexBox {
		article { flex: 2; }
        aside   { flex: 1; }
	}
    figcaption {
		text-align: right;
		padding: 0 15px;
	}
    header span { max-width: 22%; }

    aside h1 {
		margin-right: 50px;
	}

	nav.mainNav {
	  #{$bg}-color: $bColorHFN;
     }
	#navigation {
		label { display: none; }
        nav {
			height: auto;
			overflow: visible;
            li {
				display: inline-block;
				border: none;
            }
        }
	}
}
