//VARIABLES
$headline: 'Freckle Face', sans-serif;
$bodytext: Verdana, sans-serif;
$bColorHFN: #7bb8a5; //header,footer,navigation abckground color
$bBody: #42413C;     //background color for body and horiz separator
$bg: background;
